* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'DM Sans', 'Bricolage Grotesque', sans-serif;
}
body {
  background-color: rgba(2, 1, 43);
}
a {
  color: inherit;
  text-decoration: none;
}